# Covers files to be ignored

# ignore node_modules directory
node_modules/

# ignore .vscode directory
.vscode/

# ignore serial_port directory
serial_port

# ignore sketch_aug19a directory
microcontroller/sketch_aug19a/

# ignore schedule.db
server/db/schedule.db


