<!DOCTYPE html>
<html>
    <head>
        <title>Sprinkler App</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="styles/styles.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    </head>
    <body>

        <div id="container">
            <header>
                <h1>Sprinkler Timetable</h1>
            </header>

            <main>
                <div id="timeTagWrapper">
                        <form action="/add_time_to_table" id="addNewRow">
                            <label for="addTime" class="addTimeLabel">Add Time:</label>
                            <input type="time" class="addTimeType" name="addTimeType" id="addTimeType">
                            <label for="addDuration" class="addTimeLabel">Add Duration in Seconds:</label>
                            <input type="number" class="addTimeType" name="addDurationType" id="addDurationType">
                            <input type="submit" id="submitTime">
                        </form>
                    </div>
                </div>
                
                <script>

                    var deleteButtonOnClick = function() {
                            
                        // Get some values from elements on the page:
                        var deleteRowBtn = $(this);
                        var id = $(this).attr("id").slice(9);

                        // Send the data using post
                        $.post("/delete_row", {id : id}, 
                            function(data, status, jqXHR){
                            if (data == id) {
                                $(deleteRowBtn).closest("tr").remove();
                            }
                            
                            else {
                                alert("An Error Occurred");
                            }
                        });
                    };

                    // Attach a submit handler to the form
                    $( document ).ready(function(){
                        $ ( "#addNewRow" ).on( "submit", function() {

                            // Stop form from submitting normally
                            event.preventDefault();

                            // Get some values from elements on the page:
                            var $addNewRowForm = $(this),
                            time = $addNewRowForm.find( "input[type='time']" ).val()
                            duration = $addNewRowForm.find( "input[type='number']" ).val()
                            url = "/add_time_to_table";

                            // Send the data using post
                            $.post( url, { time : time, duration : duration}, 
                                function(data, status, jqXHR){
                                if (status == "success") {
                                    alert("ID: " + typeof data);
                                    var tableRef = document.getElementById("timeTable");
                                    var newRow = tableRef.insertRow(-1);
                                    var timeCell = newRow.insertCell(0);
                                    var durationCell = newRow.insertCell(1);
                                    var toggleSwitchCell = newRow.insertCell(2);
                                    var deleteCell = newRow.insertCell(3);

                                    var imgIdFirstPart = "buttonId-";
                                    var imgId = imgIdFirstPart.concat(data);

                                    const deleteButton = "<img src='images/delete.png' alt='Delete' class='deleteButton' id='" + imgId + "'>";
                                    const toggleSwitch = "<label class='switch'>" +
                                                            "<input type='checkbox'>" +
                                                            "<span class='slider round'></span>" +
                                                        "</label>";
                                    
                                    timeCell.innerHTML = time;
                                    durationCell.innerHTML = duration;
                                    deleteCell.innerHTML = deleteButton;
                                    toggleSwitchCell.innerHTML = toggleSwitch;

                                    $("#" + imgId).on("click", deleteButtonOnClick);
                                }
                                else {
                                    alert("An Error Occurred");
                                }
                            });
                        });
                    });

                    // Attach a delete handler to the form
                    $(document).ready(function(){
                        $(".deleteButton").on("click", deleteButtonOnClick);
                    });

                </script>

                <div id="tableContainer">
                    <table id="timeTable">
                        <tr>
                            <th>Time</th>
                            <th>Duration</th>
                            <th>Turn on/off</th>
                            <th>Delete</th>
                        </tr>
                        <% timeAndDuration.forEach(function (item, i) {%>
                        <tr>
                            <td> <%=item.time%> </td>
                            <td> <%=item.duration%> </td>
                            <td> 
                                <label class='switch'>
                                    <input type='checkbox'>
                                    <span class='slider round'></span>
                                </label>
                            </td>
                            <td>
                                <img src="images/delete.png" alt="Delete" class="deleteButton" id="buttonId-<%=item.index%>">
                            </td>
                        </tr>
                        <%});%>
                    </table>     
                </div>

            </main>

            <footer>
                <p>Copyright</p>
            </footer>
        </div>

    </body>
</html>