<!DOCTYPE html>
<html>
    <head>
        <title>Sprinkler App</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="styles/styles.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    </head>
    <body>

        <div id="container">
            <header>
                <h1>Sprinkler Timetable</h1>
            </header>

            <main>
                
                <div id="startSprinkler">
                    <label for="startSprinkler">Run the sprinkler for:</label>
                    <input type="number" value="5000">
                    <button id="startBtn">Start</button> 
                </div>

                <div id="message"><span id="messageText"></span></div>

                <p id="tableTitle">Add new time to the table</p>

                <div id="timeTagWrapper">
                        <form action="/add_time_to_table" id="addNewRow">
                            <div id="addTimeBlockOne">
                                <label for="addTime" class="timeLabel" id="timeLabelOne">Add Time:</label>
                                <input type="time" class="timeDurationInput" name="addTime" id="addTime">
                            </div>
                            <div id="addTimeBlockTwo">
                                <label for="addDuration" class="timeLabel" id="timeLabelTwo">Add Duration in Milliseconds:</label>
                                <input type="number" class="timeDurationInput" name="addDuration" id="addDuration">
                                <input type="submit" value="Submit" id="submitTime">
                            </div>
                        </form>
                    </div>
                </div>
                
                <div id="error"><span id="errorText"></span></div>
                
                <script>

                    $(document).ready(function(){
                        $("#startBtn").on("click", function(){

                            var startSprinkler = $(this).parent("#startSprinkler");
                            duration = $(startSprinkler).find( "input[type='number']" ).val()
                            $.post("/start_sprinkler", {duration : duration}, function(data){
                                document.getElementById("messageText").innerHTML = data;
                                $("#message").show();
                                setTimeout(function () {
                                    $("#message").fadeOut('slow');
                                }, 3000);
                            });
                        });
                    });

                    // Attach a delete handler to the form
                    // Wait until the page DOM is uploaded
                    $(document).ready(function(){
                        $(".deleteButton").on("click", deleteButtonOnClick);
                    });

                    var deleteButtonOnClick = function() {
                            
                        // Get the id value from the clicked delete button
                        var deleteRowBtn = $(this);
                        var id = $(this).attr("id").slice(9);

                        // Send the data using POST request
                        $.post("/delete_row", {id : id}, 
                            function(data, status, jqXHR){
                            if (data == id) {

                                // Remove the closest to the delete button <tr> tag   
                                    $(deleteRowBtn).closest("tr").remove();
                            }
                            
                            else {
                                alert("An Error Occurred");
                            }
                        });
                    };

                    // Attach a submit handler to the form

                    // Wait until the page DOM is uploaded
                    $( document ).ready(function(){
                        $ ( "#addNewRow" ).on( "submit", function() {

                            // Stop form from submitting normally
                            event.preventDefault();

                            // Retrieve time and duration from the form
                            time = $(this).find( "input[type='time']" ).val()
                            duration = $(this).find( "input[type='number']" ).val()
                            url = "/add_time_to_table";

                            if (time == "" || duration== ""){
                                document.getElementById("errorText").innerHTML = "Enter valid time and duration";
                                $("#error").show();
                                setTimeout(function () {
                                    $("#error").fadeOut('slow');
                                }, 3000);
                            }
                            else{
                                // Send the data using POST request
                                $.post( url, { time : time, duration : duration}, 
                                    function(data, status, jqXHR){
                                    if (status == "success") {

                                        time = time.split(":")
                                        var hours = time[0];
                                        var minutes = time[1];
                                        var newformat = hours >= 12 ? 'PM' : 'AM';
                                        hours = hours % 12;
                                        hours = hours ? hours : 12;
                                        hours = hours < 10 ? '0' + hours : hours;
                                        var setTime = hours + ":" + minutes + " " + newformat;

                                        // Add a new row 
                                        var tableRef = document.getElementById("timeTable");
                                        var newRow = tableRef.insertRow(1);
                                        var timeCell = newRow.insertCell(0);
                                        var durationCell = newRow.insertCell(1);
                                        var deleteCell = newRow.insertCell(2);

                                        var imgIdFirstPart = "buttonId-";

                                        // Retrieve the row id from the POST response body
                                        var imgId = imgIdFirstPart.concat(data);

                                        // Add the row id to the id attribute 
                                        const deleteButton = "<img src='images/delete.png' alt='Delete' class='deleteButton' id='" + imgId + "'>";
                                        
                                        // Add time and duration values along with the delete button to the table
                                        timeCell.innerHTML = setTime;
                                        durationCell.innerHTML = duration;
                                        deleteCell.innerHTML = deleteButton;

                                        // To make it possible to delete just added row without reloading the web-page 
                                        // the delete button is assigned a click event handler
                                        $("#" + imgId).on("click", deleteButtonOnClick);
                                    }
                                    else {
                                        alert("An Error Occurred");
                                    }
                                });
                            }
                        });
                    });

                    $(document).ready(function() {
                        $("tbody").each(function(){
                        var arr = $.makeArray($("tr",this).detach());
                        arr.reverse();
                        $(this).append(arr);
                        });
                    });
                </script>
                
                <div id="tableContainer">
                    <table id="timeTable">
                        <tr>
                            <th>Time</th>
                            <th>Duration</th>
                            <th>Delete</th>
                        </tr>
                        <tbody>
                            <% timeAndDuration.forEach(function (item, i) {%>
                            <tr>
                                <td> <%=item.time%> </td>
                                <td> <%=item.duration%> </td>
                                <td>
                                    <img src="images/delete.png" alt="Delete" class="deleteButton" id="buttonId-<%=item.index%>">
                                </td>
                            </tr>
                            <%});%>
                        </tbody>
                    </table>     
                </div>

            </main>

            <footer>
                <p>Sprinkle App</p>
            </footer>
        </div>

    </body>
</html>