<!DOCTYPE html>
<html>
    <head>
        <title>Sprinkler App</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="styles/styles.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    </head>
    <body>

        <div id="container">
            <header>
                <h1>Sprinkler Timetable</h1>
            </header>

            <main>
                <div id="timeTagWrapper">
                        <form action="/add_time_to_table" id="addNewRow">
                            <label for="addTime" class="addTimeLabel">Add Time:</label>
                            <input type="time" class="addTimeType" name="addTimeType" id="addTimeType">
                            <label for="addDuration" class="addTimeLabel">Add Duration in Milliseconds:</label>
                            <input type="number" class="addTimeType" name="addDurationType" id="addDurationType">
                            <input type="submit" id="submitTime">
                        </form>
                    </div>
                </div>

                <div id="startSprinkler">
                    <label for="startSprinkler" id="startBtnLb">Run the sprinkler for 10 seconds</label>
                    <button id="startBtn">Start</button> 
                </div>
                
                <script>

                    $(document).ready(function(){
                        $("#startBtn").on("click", function(){
                            $.post("/start_sprinkler", function(data){
                                alert(data);
                            });
                        });
                    });

                    // Attach a delete handler to the form
                    // Wait until the page DOM is uploaded
                    $(document).ready(function(){
                        $(".deleteButton").on("click", deleteButtonOnClick);
                    });

                    var deleteButtonOnClick = function() {
                            
                        // Get the id value from the clicked delete button
                        var deleteRowBtn = $(this);
                        var id = $(this).attr("id").slice(9);

                        // Send the data using POST request
                        $.post("/delete_row", {id : id}, 
                            function(data, status, jqXHR){
                            if (data == id) {

                                // Remove the closest to the delete button <tr> tag   
                                $(deleteRowBtn).closest("tr").remove();
                            }
                            
                            else {
                                alert("An Error Occurred");
                            }
                        });
                    };

                    // Attach a submit handler to the form

                    // Wait until the page DOM is uploaded
                    $( document ).ready(function(){
                        $ ( "#addNewRow" ).on( "submit", function() {

                            // Stop form from submitting normally
                            event.preventDefault();

                            // Retrieve time and duration from the form
                            var $addNewRowForm = $(this),
                            time = $addNewRowForm.find( "input[type='time']" ).val()
                            duration = $addNewRowForm.find( "input[type='number']" ).val()
                            url = "/add_time_to_table";

                            if (time == "" || duration== ""){
                                alert("Enter the time and duration");
                            }
                            else{
                                // Send the data using POST request
                                $.post( url, { time : time, duration : duration}, 
                                    function(data, status, jqXHR){
                                    if (status == "success") {

                                        // Add a new row 
                                        var tableRef = document.getElementById("timeTable");
                                        var newRow = tableRef.insertRow(1);
                                        var timeCell = newRow.insertCell(0);
                                        var durationCell = newRow.insertCell(1);
                                        var deleteCell = newRow.insertCell(2);

                                        var imgIdFirstPart = "buttonId-";

                                        // Retrieve the row id from the POST response body
                                        var imgId = imgIdFirstPart.concat(data);

                                        // Add the row id to the id attribute 
                                        const deleteButton = "<img src='images/delete.png' alt='Delete' class='deleteButton' id='" + imgId + "'>";
                                        
                                        // Add time and duration values along with the delete button to the table
                                        timeCell.innerHTML = time;
                                        durationCell.innerHTML = duration;
                                        deleteCell.innerHTML = deleteButton;

                                        // To make it possible to delete just added row without reloading the web-page 
                                        // the delete button is assigned a click event handler
                                        $("#" + imgId).on("click", deleteButtonOnClick);
                                    }
                                    else {
                                        alert("An Error Occurred");
                                    }
                                });
                            }
                        });
                    });

                    $(document).ready(function() {
                        $("tbody").each(function(elem,index){
                        var arr = $.makeArray($("tr",this).detach());
                        arr.reverse();
                        $(this).append(arr);
                        });
                    });
                </script>
                
                <div id="tableContainer">
                    <table id="timeTable">
                        <tr>
                            <th>Time</th>
                            <th>Duration</th>
                            <th>Delete</th>
                        </tr>
                        <tbody>
                            <% timeAndDuration.forEach(function (item, i) {%>
                            <tr>
                                <td> <%=item.time%> </td>
                                <td> <%=item.duration%> </td>
                                <td>
                                    <img src="images/delete.png" alt="Delete" class="deleteButton" id="buttonId-<%=item.index%>">
                                </td>
                            </tr>
                            <%});%>
                        </tbody>
                    </table>     
                </div>

            </main>

            <footer>
                <p>Sprinkle App</p>
            </footer>
        </div>

    </body>
</html>