/*Home page*/

body, header, main, footer {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

#container{
    font-family:'Times New Roman', Times, serif;
}

header{
    background-color: #a1c6ea;
    width: auto;
    text-align: center;
    height: 95px;
    padding-top: 1px;
}

header h1{
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 20px;
}


#startBtn{
    width: 90px;
    border-color: #1d3461;
    border: solid;
    cursor: pointer;
    background-color: ghostwhite;
    border-radius: 5px;
    border-width: 1.5px;
    font-size: 15px;
    padding-bottom: 6px;
    padding-top: 6px;  
}

#startSprinkler{
    margin-top: 5%;
    margin-left: 22%;
    margin-bottom: 5%;
}

#startSprinkler label, .timeLabel{
    font-size: 20px;
    margin-right: 2%;
}

#startSprinkler input{
    width: 100px;
    text-align: center;
    border-color:#a1c6ea;
    background-color: ghostwhite;
    border-radius: 5px;
    cursor: pointer;
    border: solid;
    border-width: 1.5px;
    height: 26px;
    margin-right: 2%;
}

#timeTagWrapper{
    margin-top: 2%;
    margin-left: 22%;
}

#addTime{
    width: 130px;
    text-align: center;
}

#addDuration{
    width: 100px;
    text-align: center;
}

.timeDurationInput{
    border-color:#a1c6ea;
    background-color: ghostwhite;
    border-radius: 5px;
    cursor: pointer;
    border: solid;
    border-width: 1.5px;
    height: 26px;
    margin-right: 2%;
}

.deleteButton{
    width: 20px; 
    border: none;
    cursor: pointer;
    height: 20px;
    background-color: transparent;
    margin-top: 2%;
}

#message, #error{
    margin-left: 22%;
    color: rgb(193, 11, 11);
    font-size: 20px;
    margin-top: 2%;
}

footer{
    width: auto;
    height: 80px;
    background-color: #507dbc;
    text-align: center;
    margin-top: auto;
}

footer p{
    font-size: 20px;
    padding-top: 10px;
}

.deleteButton:hover{
    width: 23px;
    height: 23px;
}

#submitTime:hover, .addTimeType:hover, #startBtn:hover{
    background-color:#ddecf8;
}

#timeTable tr:nth-child(odd){
    background-color: #dbe8f2;
}

#timeTable tr:hover{
    background-color: #afc6d4;
}

#submitTime{
    width: 90px;
    border-color: #1d3461;
    border: solid;
    cursor: pointer;
    background-color: ghostwhite;
    border-radius: 5px;
    border-width: 1.5px;
    font-size: 15px;
    padding-bottom: 6px;
    padding-top: 6px;    
}

#tableTitle{
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}

#addTimeBlockOne, #addTimeBlockTwo{
    margin-bottom: 2%;
    margin-top: 2%;
}

#timeTable{
    margin-left: 21%;
    border-collapse: collapse;
    margin-bottom: 10%;
    width: 60%;
}

#timeTable th{
    text-align: center;
    background-color: #b0d2ed;
    font-size: 19px;
    height: 50px;
}

#timeTable tr{
    font-size: 17px;
    text-align: center;
    height: 40px;
}

/* Responsive styles for smaller screens */
@media screen and (max-width: 768px){

    header h1{
        font-size: 25px;
    }

    header{
        height: 80px;
        text-align: center;
    }

    #startSprinkler{
        margin-top: 10%;
        margin-left: 5%;
        margin-bottom: 10%;
    }

    #message, #error{
        margin-left: 5%;
        font-size: 20px;
    }

    #timeTagWrapper{
        margin-top: 10%;
        margin-left: 5%;
    }

    #addTimeBlockOne, #addTimeBlockTwo{
        margin-bottom: 10%;
        margin-top: 10%;
    }

    #timeTable{
        margin-left: 4%;
        width: 90%;
    }

}

/* Responsive styles for smaller screens */
@media screen and (max-width: 480px){

    #startBtn{
        width: 70px;
        font-size: 15px; 
    }

    #startSprinkler input{
        width: 80px;
        height: 26px;
    }

    #timeTable th{
        font-size: 17px;
    }

    #timeLabelTwo{
        display: block;
        margin-bottom: 5%;
    }

}
